/* Faiza Berrichi---exercices Sass
date:08-03-2021*/


$primary:#48736B;
$wonderful:#D9CDBF;
$dark:#181D26;
$myColor:#732929;

h1{
    color: $myColor;
}
h3{
    color: $dark;
}
/* mixins*/
@mixin style {
    font-size: 20px;
    font-family: Tahoma;
    color: $dark;
}
body{
    @include style();
}
/*exercice numb3*/
.partie1 li {
    color: $primary;
    text-decoration:underline;
}
/*extend for exercice number 4*/
.choix1{
    background-color: $myColor;
    color: $wonderful;
}
.choix2{
    @extend .choix1;
    text-decoration: underline;
}
/*exercice number 5*/
.corps1 p:nth-child(2):hover{
    background-color: red;
    color: white;
    text-decoration: underline dotted;

}